/* nav {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}

nav > a {
  color: hsl(0, 0%, 50%);
}

nav > a + a {
  margin-left: 0.75rem;
}

.nav__link-current {
  color: hsl(0, 0%, 40%);
}

nav > a:hover {
  color: hsl(0, 0%, 0%);
} */
.teste {
  color: deeppink;
  margin-top: 40px;
}
